@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete</h2>
<fieldset>
    <div class="display-label">Mã sách: @Html.Encode(Model.masach)</div>
    <div class="display-lable">Mã loại: @Html.Encode(Model.maloai)</div>
    <div class="display-lable">Tên sách: @Html.Encode(Model.tensach)</div>
    <div class="display-lable">Hình: @Html.Encode(Model.hinh)</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to List", "Index")
    </p>
}
