@model IEnumerable<Sang4_Tuan3_2011064477_PhamVanThanh.Models.Sach>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SACH</h2>

<table border="1px">
    <tr>
        <th>Mã sách</th>
        <th>Mã loại</th>
        <th>Tên sách</th>
        <th>Hình</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.masach</td>
            <td>@item.maloai</td>
            <td>@item.tensach</td>
            <td>@item.hinh</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.masach }) |
                @Html.ActionLink("Detail", "Detail", new { id = item.masach }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.masach })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Create", "Create", "Sach")

